apiVersion: v1
kind: Secret
metadata:
  name: testfest-secrets
type: Opaque
# Use: echo -n 'value' | base64
data:
  DATABASE_URL: <BASE64_POSTGRES_URL>
  SESSION_SECRET: <BASE64_SESSION_SECRET>
  ENTRA_CLIENT_SECRET: <BASE64_ENTRA_CLIENT_SECRET>
  # JIRA_EMAIL: <BASE64_EMAIL>
  # JIRA_API_TOKEN: <BASE64_TOKEN>
